
 /* We are using the 'Roboto' font from Google. This has already been added to your HTML header */

body {
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 100%;
}

.logo {
    width: 30px;
    padding-left: 100px;
}

.navbar {
    background-color: #ffffff;
    padding-left: 40%;
    text-align: right;
    text-indent: 50px;
} 

ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    list-style-type: none;
  }

/* I use the id to target just the first list element*/
#bold {
    font-weight: bold;
}

a { 
    text-decoration: none;
    color: black;
}

a:hover {
    color: red;
}

/* background image must be behind the text*/
.background-img {
    background-image: url(/img/first-background.jpg);
    max-width: 100%;
    height: 720px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-indent: 100px;
}

button {
    background-color: rgb(226, 109, 66); /* orange */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5%;
    width: 175px;
    height: 60px;
}

#intro {
    font-size: 60px;
    font-weight: lighter;
    margin-bottom: 5px;
}

h4 {
    display: flex;
    justify-content: center;
    font-weight: lighter;
    font-size: 40px;
    padding-top: 7%;
    padding-left: 30%;
    padding-right: 30%;
}

h5 {
    font-size: 32px;
    font-weight: lighter;
}

.starter-pack :first-child {
    width: 100%;
}


.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.image {
    margin: 10px 90px 10px 90px;
    width: 100px;
}

.box-1 {
    padding-left: 20%;
    text-align: center;
}

.box-2 {
    text-align: center;
}

.box-3 {
    padding-right: 20%;
    text-align: center;
}


small {
    font-size: 80%;
}

.icontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.icon {
    margin: 10px 10px 10px 10px;
    width: 20px;
    border-color: rgb(163, 162, 162);
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    box-sizing: content-box;
}

footer {
    margin-top: 50px;
}
#join {
    font-size: 20px;
}

#footer-p {
    display: flex;
    justify-content: center;
    font-weight: lighter;
    font-size: 12px;
    color: rgb(43, 42, 42);
    padding-left: 30%;
    padding-right: 30%;
}
@media screen and (max-width: 480px) {
    #intro {
        text-align: center;
        margin-bottom: 1px;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-self: center;
    }

    .icontainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}


/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 * - When using Flexbox, remember the items you want to move around need to be inside a parent container set to 'display: flex'
 */


