
 /* We are using the 'Roboto' font from Google. This has already been added to your HTML header */

body {
    font-family: 'Roboto', sans-serif;
}

.logo {
    width: 40px;
    padding-left: 100px;
}

.navbar {
    background-color: #ffffff;
    display: flex;
    text-align: left;
} 

ul {
    display: flex;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.Navbar__Link {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

a { 
    text-decoration: none;
    padding: 20px;
}

a:hover {
    color: red;
}
/* background image must be behind the text*/
.background-img {
    background-image: url(/img/first-background.jpg);
    max-width: 100%;
  height: auto;
}

main {
    color: white;
    font-weight: lighter;
}

button {
    background-color: rgb(226, 109, 66); /* orange */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5%;
}

.starter-pack {
    display: flex;
    flex-direction: row;
    font-weight: lighter;
}

.starter-pack :first-child {
    width: 100%;
}

.starter-pack


small {
    font-size: 80%;
}

.image {
    width: 100px;
}

.icon {
    display: flex;
    flex-direction: row;
    width: 30px;
}
@media screen and (min-width: 480px) {


}

/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 * - When using Flexbox, remember the items you want to move around need to be inside a parent container set to 'display: flex'
 */


